adf-financial-trans-processing/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-financial-trans-processing"
		},
		"lnk_poseidon_database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lnk_poseidon_database'"
		},
		"lnk_on_premise_data_export_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_on_premise_data_export'"
		},
		"lnk_abls_axiomstorage4inbounddata_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://axiomstorage4inbounddata.blob.core.windows.net"
		},
		"lnk_adls_axiomstandardatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://axiomstandarddatalake.dfs.core.windows.net"
		},
		"lnk_on_premise_data_export_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\mykonos\\C$\\Users\\aspac\\data\\exports"
		},
		"lnk_on_premise_data_export_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "aspac"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/lnk_abls_axiomstorage4inbounddata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Link Service to Azure Blob Storage Account: axiomstorage4inbounddata",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('lnk_abls_axiomstorage4inbounddata_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_adls_axiomstandardatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lnk_adls_axiomstandardatalake_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_poseidon_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lnk_poseidon_database_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationRuntime-LocalFilesTransfer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_inbound_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_abls_axiomstorage4inbounddata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inbounddatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_abls_axiomstorage4inbounddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_inbound_transaction_data_file_to_delete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_abls_axiomstorage4inbounddata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inbounddatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_abls_axiomstorage4inbounddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_raw_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "transactions.csv",
							"type": "Expression"
						},
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_raw_transaction_data_file_piped_copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "piped_transactions.csv",
							"type": "Expression"
						},
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "transactions.csv",
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Original Description",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Transaction Type",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Account Name",
						"type": "String"
					},
					{
						"name": "Labels",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_poseidon_bank_stage_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_poseidon_database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "trans_key",
						"type": "binary"
					},
					{
						"name": "trans_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "trans_record_source",
						"type": "varchar"
					},
					{
						"name": "trans_date",
						"type": "date"
					},
					{
						"name": "trans_desc",
						"type": "varchar"
					},
					{
						"name": "trans_original_desc",
						"type": "varchar"
					},
					{
						"name": "trans_amount",
						"type": "smallmoney",
						"precision": 10,
						"scale": 4
					},
					{
						"name": "trans_type",
						"type": "varchar"
					},
					{
						"name": "trans_category",
						"type": "varchar"
					},
					{
						"name": "trans_account_name",
						"type": "varchar"
					},
					{
						"name": "trans_label",
						"type": "varchar"
					},
					{
						"name": "trans_notes",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bank",
					"table": "stage_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_poseidon_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_parquet_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "trans_data.parquet",
						"folderPath": "transactions/raw",
						"fileSystem": "textdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_on_premise_data_export')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get data files to be loaded into the DW",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('lnk_on_premise_data_export_properties_typeProperties_host')]",
					"userId": "[parameters('lnk_on_premise_data_export_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_on_premise_data_export_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-LocalFilesTransfer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-LocalFilesTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_update_raw_data_in_delta')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Delta"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "lnk_adls_axiomstandardatalake",
								"type": "LinkedServiceReference"
							},
							"name": "SourceParquetRawTransactionsInDelta"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "lnk_adls_axiomstandardatalake",
								"type": "LinkedServiceReference"
							},
							"name": "UpdateDeltaTransactions"
						}
					],
					"transformations": [
						{
							"name": "SelectAllCoumns"
						},
						{
							"name": "AddLoadDate"
						},
						{
							"name": "UpdateRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Prop_0 as string,",
						"          Prop_1 as string,",
						"          Prop_2 as string,",
						"          Prop_3 as string,",
						"          Prop_4 as string,",
						"          Prop_5 as string,",
						"          Prop_6 as string,",
						"          Prop_7 as string,",
						"          Prop_8 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delta',",
						"     fileSystem: 'textdatafiles',",
						"     folderPath: 'transactions/staging/transaction_data') ~> SourceParquetRawTransactionsInDelta",
						"SourceParquetRawTransactionsInDelta select(mapColumn(",
						"          date = Prop_0,",
						"          description = Prop_1,",
						"          original_description = Prop_2,",
						"          amount = Prop_3,",
						"          transaction_type = Prop_4,",
						"          category = Prop_5,",
						"          account_name = Prop_6,",
						"          labels = Prop_7,",
						"          notes = Prop_8",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectAllCoumns",
						"SelectAllCoumns derive(load_date = currentDate()) ~> AddLoadDate",
						"AddLoadDate alterRow(updateIf(true())) ~> UpdateRows",
						"UpdateRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Prop_0 as string,",
						"          Prop_1 as string,",
						"          Prop_2 as string,",
						"          Prop_3 as string,",
						"          Prop_4 as string,",
						"          Prop_5 as string,",
						"          Prop_6 as string,",
						"          Prop_7 as string,",
						"          Prop_8 as string",
						"     ),",
						"     format: 'delta',",
						"     fileSystem: 'textdatafiles',",
						"     folderPath: 'transactions/staging/transaction_data',",
						"     truncate:true,",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: false,",
						"     vacuum: 0,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     keys:['date','description','original_description','amount','transaction_type','category','account_name','labels','notes'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Prop_0 = date,",
						"          Prop_1 = description,",
						"          Prop_2 = original_description,",
						"          Prop_3 = amount,",
						"          Prop_4 = transaction_type,",
						"          Prop_5 = category,",
						"          Prop_6 = account_name,",
						"          Prop_7 = labels,",
						"          Prop_8 = notes",
						"     )) ~> UpdateDeltaTransactions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_raw_all_export_data_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Destination (ADL) of export data files coming from the on-premise site.",
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_products_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.txt",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ProductNumber",
						"type": "String"
					},
					{
						"name": "MakeFlag",
						"type": "String"
					},
					{
						"name": "FinishedGoodsFlag",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "SafetyStockLevel",
						"type": "String"
					},
					{
						"name": "ReorderPoint",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "String"
					},
					{
						"name": "ListPrice",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "SizeUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "WeightUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "String"
					},
					{
						"name": "DaysToManufacture",
						"type": "String"
					},
					{
						"name": "ProductLine",
						"type": "String"
					},
					{
						"name": "Class",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "ProductSubcategoryID",
						"type": "String"
					},
					{
						"name": "ProductModelID",
						"type": "String"
					},
					{
						"name": "SellStartDate",
						"type": "String"
					},
					{
						"name": "SellEndDate",
						"type": "String"
					},
					{
						"name": "DiscontinuedDate",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_products_category_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products_category.txt",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductCategoryID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_txt_products_model_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products_model.txt",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductModelID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_products_subcategory_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products_subcategory.txt",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductSubcategoryID",
						"type": "String"
					},
					{
						"name": "ProductCategoryID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parquet_products_dst')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.parquet",
						"folderPath": "adventurewrks/raw/parquet",
						"fileSystem": "textdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_data_file_verification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "After being moved to the data lake, this process verifies the transaction data file.",
				"activities": [
					{
						"name": "Check If File Exists",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_raw_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.00:10:00",
							"sleep": 10
						}
					},
					{
						"name": "Get Metadata from Transactions File",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Check If File Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_transactions",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Column Count Matches",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata from Transactions File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get Metadata from Transactions File').output.columnCount, 7)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Report Failure in Column Count",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('Coulumn count failed: count is ', string( activity('Get Metadata from Transactions File').output.columnCount) )",
											"type": "Expression"
										},
										"errorCode": "100"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_raw_transaction_data_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_transactions')]"
			]
		}
	]
}