pipeline/pl_ingest_data_file_verification.json
{
	"name": "pl_ingest_data_file_verification",
	"properties": {
		"description": "After being moved to the data lake, this process verifies the transaction data file.",
		"activities": [
			{
				"name": "Check If File Exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_raw_transaction_data_file",
						"type": "DatasetReference"
					},
					"timeout": "0.00:10:00",
					"sleep": 10
				}
			},
			{
				"name": "Get Metadata from Transactions File",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check If File Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_transactions",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Column Count Matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata from Transactions File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadata from Transactions File').output.columnCount, 7)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Report Failure in Column Count",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Coulumn count failed: count is ', string( activity('Get Metadata from Transactions File').output.columnCount) )",
									"type": "Expression"
								},
								"errorCode": "100"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Ingest"
		},
		"annotations": []
	}
}