pipeline/pl_transform_all_export_data_files.json
{
	"name": "pl_transform_all_export_data_files",
	"properties": {
		"activities": [
			{
				"name": "Stage Folder Info",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_stage_folder_items",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Stage Folder Iterator",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Stage Folder Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Stage Folder Info').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "AdventureWrks DW"
		},
		"annotations": []
	}
}