pipeline/pl_transform_all_export_data_files.json
{
	"name": "pl_transform_all_export_data_files",
	"properties": {
		"description": "Copy text data files from stage area into the raw area converted to parquet.",
		"activities": [
			{
				"name": "Stage Folder Info",
				"description": "Gets file information from the  stage folder.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_stage_folder_items",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Stage Folder Iterator",
				"description": "Iterate the stage folder to get the name of all files stored in that area, then copy each one into the raw area.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Stage Folder Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Stage Folder Info').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data Files From TXT To Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_txt_data_files",
									"type": "DatasetReference",
									"parameters": {
										"param_current_file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_data_files",
									"type": "DatasetReference",
									"parameters": {
										"param_current_file_name": {
											"value": "@concat( replace(item().name, '.txt', ''), '.parquet')  ",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"var_current_file": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AdventureWrks DW"
		},
		"annotations": []
	}
}