adf-financial-trans-processing/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-financial-trans-processing"
		},
		"lnk_on_premise_data_export_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_on_premise_data_export'"
		},
		"lnk_poseidon_database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lnk_poseidon_database'"
		},
		"lnk_abls_axiomstorage4inbounddata_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://axiomstorage4inbounddata.blob.core.windows.net"
		},
		"lnk_adls_axiomstandardatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://axiomstandarddatalake.dfs.core.windows.net"
		},
		"lnk_on_premise_data_export_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\mykonos\\C$\\Users\\aspac\\data\\exports"
		},
		"lnk_on_premise_data_export_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "aspac"
		},
		"trg_sevnt_axiomstorage4inbounddata_inbounddatafiles_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/b422d504-452d-4c32-86ff-df16b9c82ff1/resourceGroups/AxiomCore_StorageAccounts/providers/Microsoft.Storage/storageAccounts/axiomstorage4inbounddata"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_all_export_data_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy the data export files on premise into the Azre Data Lake",
				"activities": [
					{
						"name": "Copy Export Data Files Into ADL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_txt_all_export_data_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_txt_raw_all_export_data_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "AdventureWrks DW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_txt_all_export_data_files')]",
				"[concat(variables('factoryId'), '/datasets/ds_txt_raw_all_export_data_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_data_file_verification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "After being moved to the data lake, this process verifies the transaction data file.",
				"activities": [
					{
						"name": "Check If File Exists",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_raw_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.00:10:00",
							"sleep": 10
						}
					},
					{
						"name": "Get Metadata from Transactions File",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Check If File Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_transactions",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Column Count Matches",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata from Transactions File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get Metadata from Transactions File').output.columnCount, 7)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Report Failure in Column Count",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('Coulumn count failed: count is ', string( activity('Get Metadata from Transactions File').output.columnCount) )",
											"type": "Expression"
										},
										"errorCode": "100"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_raw_transaction_data_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_transaction_data_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Gets data file from blob account and move it into the data lake, after that the file in the blob account is deleted.",
				"activities": [
					{
						"name": "Move Transaction Data File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "transaction*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv_inbound_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_csv_raw_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete Transaction Data File",
						"description": "Delete Transaction Data File from ingre location.",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Move Transaction Data File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_csv_inbound_transaction_data_file_to_delete",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"wildcardFileName": "transaction*",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_inbound_transaction_data_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_raw_transaction_data_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_inbound_transaction_data_file_to_delete')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_transaction_data_into_raw_zone')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Transaction Data File Into Raw Zone",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Create Piped Copy of Data File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OriginalDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OriginalDescription",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AccountName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Labels",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Labels",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv_raw_transaction_data_file_piped_copy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_parquet_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Create Piped Copy of Data File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Original Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OriginalDescription",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Transaction Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TransactionType",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Account Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountName",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Labels",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Labels",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv_raw_transaction_data_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_csv_raw_transaction_data_file_piped_copy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_raw_transaction_data_file_piped_copy')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_parquet_transaction_data_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_csv_raw_transaction_data_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_insert_raw_data_into_delta_lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Takes parquet data file and the delta lake.",
				"activities": [
					{
						"name": "Insert Raw Transactions Into Delta",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_insert_raw_data_into_delta",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceParquetRawTransactions": {},
									"DestinationStagingParquetRawTransactions": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Delta"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_insert_raw_data_into_delta')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_trans_into_staging_area')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load transactions in data file into the stage table.",
				"activities": [
					{
						"name": "Load Data Into Staging Table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE bank.stage_transactions",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date"
										},
										"sink": {
											"name": "trans_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Description"
										},
										"sink": {
											"name": "trans_desc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Original Description"
										},
										"sink": {
											"name": "trans_original_desc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount"
										},
										"sink": {
											"name": "trans_amount",
											"type": "Decimal",
											"physicalType": "smallmoney",
											"scale": 4,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "Transaction Type"
										},
										"sink": {
											"name": "trans_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category"
										},
										"sink": {
											"name": "trans_category",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Account Name"
										},
										"sink": {
											"name": "trans_account_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Labels"
										},
										"sink": {
											"name": "trans_label",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Notes"
										},
										"sink": {
											"name": "trans_notes",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_csv_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_poseidon_bank_stage_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Transaction ID",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Load Data Into Staging Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": ";\r\nWITH trans\r\nAS\r\n(\r\nSELECT\r\n\tROW_NUMBER() OVER(PARTITION BY trans_date ORDER BY(SELECT NULL)) AS trans_number\r\n\t,trans_id\r\n    ,trans_date\r\n\r\nFROM \r\n\tbank.stage_transactions\r\n)\r\nUPDATE trans\r\nSET trans_id = REPLACE( CAST(trans_date AS VARCHAR), '-', '') + CAST(trans_number AS VARCHAR)\r\n;\r\n\r\nSELECT * FROM bank.stage_transactions;\r\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_poseidon_bank_stage_table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Database"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_csv_transactions')]",
				"[concat(variables('factoryId'), '/datasets/ds_poseidon_bank_stage_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_all_export_data_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy text data files from stage area into the raw area converted to parquet.",
				"activities": [
					{
						"name": "Stage Folder Info",
						"description": "Gets file information from the  stage folder.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_stage_folder_items",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Stage Folder Iterator",
						"description": "Iterate the stage folder to get the name of all files stored in that area, then copy each one into the raw area.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Stage Folder Info",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Stage Folder Info').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data Files From TXT To Parquet",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_txt_data_files",
											"type": "DatasetReference",
											"parameters": {
												"param_current_file_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_parquet_data_files",
											"type": "DatasetReference",
											"parameters": {
												"param_current_file_name": {
													"value": "@concat( replace(item().name, '.txt', ''), '.parquet')  ",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_current_file": {
						"type": "String"
					}
				},
				"folder": {
					"name": "AdventureWrks DW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stage_folder_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_txt_data_files')]",
				"[concat(variables('factoryId'), '/datasets/ds_parquet_data_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_inbound_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_abls_axiomstorage4inbounddata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inbounddatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_abls_axiomstorage4inbounddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_inbound_transaction_data_file_to_delete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_abls_axiomstorage4inbounddata",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inbounddatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_abls_axiomstorage4inbounddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_raw_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "transactions.csv",
							"type": "Expression"
						},
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_raw_transaction_data_file_piped_copy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "piped_transactions.csv",
							"type": "Expression"
						},
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_csv_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "transactions.csv",
						"folderPath": "transactions",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Original Description",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Transaction Type",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Account Name",
						"type": "String"
					},
					{
						"name": "Labels",
						"type": "String"
					},
					{
						"name": "Notes",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parquet_data_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for parquet data file to be stored in raw area.",
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_current_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().param_current_file_name",
							"type": "Expression"
						},
						"folderPath": "adventurewrks/raw/parquet",
						"fileSystem": "textdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_poseidon_bank_stage_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_poseidon_database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "trans_key",
						"type": "binary"
					},
					{
						"name": "trans_load_timestamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "trans_record_source",
						"type": "varchar"
					},
					{
						"name": "trans_date",
						"type": "date"
					},
					{
						"name": "trans_desc",
						"type": "varchar"
					},
					{
						"name": "trans_original_desc",
						"type": "varchar"
					},
					{
						"name": "trans_amount",
						"type": "smallmoney",
						"precision": 10,
						"scale": 4
					},
					{
						"name": "trans_type",
						"type": "varchar"
					},
					{
						"name": "trans_category",
						"type": "varchar"
					},
					{
						"name": "trans_account_name",
						"type": "varchar"
					},
					{
						"name": "trans_label",
						"type": "varchar"
					},
					{
						"name": "trans_notes",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "bank",
					"table": "stage_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_poseidon_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_parquet_transaction_data_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ingest"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "trans_data.parquet",
						"folderPath": "transactions/raw",
						"fileSystem": "textdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stage_folder_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_all_export_data_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Data export files from on-premise site. ",
				"linkedServiceName": {
					"referenceName": "lnk_on_premise_data_export",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_on_premise_data_export')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_data_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dataset for the txt data file from the stage area.",
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_current_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().param_current_file_name",
							"type": "Expression"
						},
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_txt_raw_all_export_data_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Destination (ADL) of export data files coming from the on-premise site.",
				"linkedServiceName": {
					"referenceName": "lnk_adls_axiomstandardatalake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AdventureWrks DW/Ingest"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "adventurewrks/stage",
						"fileSystem": "textdatafiles"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_abls_axiomstorage4inbounddata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Link Service to Azure Blob Storage Account: axiomstorage4inbounddata",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('lnk_abls_axiomstorage4inbounddata_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_adls_axiomstandardatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lnk_adls_axiomstandardatalake_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_on_premise_data_export')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get data files to be loaded into the DW",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('lnk_on_premise_data_export_properties_typeProperties_host')]",
					"userId": "[parameters('lnk_on_premise_data_export_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_on_premise_data_export_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IntegrationRuntime-LocalFilesTransfer",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IntegrationRuntime-LocalFilesTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_poseidon_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lnk_poseidon_database_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_sevnt_axiomstorage4inbounddata_inbounddatafiles')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_ingest_transaction_data_files",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inbounddatafiles/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trg_sevnt_axiomstorage4inbounddata_inbounddatafiles_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_transaction_data_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntegrationRuntime-LocalFilesTransfer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_insert_raw_data_into_delta')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Delta"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_parquet_transaction_data_file",
								"type": "DatasetReference"
							},
							"name": "SourceParquetRawTransactions"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "lnk_adls_axiomstandardatalake",
								"type": "LinkedServiceReference"
							},
							"name": "DestinationStagingParquetRawTransactions"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> SourceParquetRawTransactions",
						"SourceParquetRawTransactions sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     fileSystem: 'textdatafiles',",
						"     folderPath: 'transactions/staging/transaction_data',",
						"     truncate:true,",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: false,",
						"     vacuum: 0,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DestinationStagingParquetRawTransactions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_parquet_transaction_data_file')]",
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_update_raw_data_in_delta')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Delta"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "lnk_adls_axiomstandardatalake",
								"type": "LinkedServiceReference"
							},
							"name": "SourceParquetRawTransactionsInDelta"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "lnk_adls_axiomstandardatalake",
								"type": "LinkedServiceReference"
							},
							"name": "UpdateDeltaTransactions"
						}
					],
					"transformations": [
						{
							"name": "SelectAllCoumns"
						},
						{
							"name": "AddLoadDate"
						},
						{
							"name": "UpdateRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Prop_0 as string,",
						"          Prop_1 as string,",
						"          Prop_2 as string,",
						"          Prop_3 as string,",
						"          Prop_4 as string,",
						"          Prop_5 as string,",
						"          Prop_6 as string,",
						"          Prop_7 as string,",
						"          Prop_8 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delta',",
						"     fileSystem: 'textdatafiles',",
						"     folderPath: 'transactions/staging/transaction_data') ~> SourceParquetRawTransactionsInDelta",
						"SourceParquetRawTransactionsInDelta select(mapColumn(",
						"          date = Prop_0,",
						"          description = Prop_1,",
						"          original_description = Prop_2,",
						"          amount = Prop_3,",
						"          transaction_type = Prop_4,",
						"          category = Prop_5,",
						"          account_name = Prop_6,",
						"          labels = Prop_7,",
						"          notes = Prop_8",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectAllCoumns",
						"SelectAllCoumns derive(load_date = currentDate()) ~> AddLoadDate",
						"AddLoadDate alterRow(updateIf(true())) ~> UpdateRows",
						"UpdateRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Prop_0 as string,",
						"          Prop_1 as string,",
						"          Prop_2 as string,",
						"          Prop_3 as string,",
						"          Prop_4 as string,",
						"          Prop_5 as string,",
						"          Prop_6 as string,",
						"          Prop_7 as string,",
						"          Prop_8 as string",
						"     ),",
						"     format: 'delta',",
						"     fileSystem: 'textdatafiles',",
						"     folderPath: 'transactions/staging/transaction_data',",
						"     truncate:true,",
						"     mergeSchema: false,",
						"     autoCompact: false,",
						"     optimizedWrite: false,",
						"     vacuum: 0,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     keys:['date','description','original_description','amount','transaction_type','category','account_name','labels','notes'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Prop_0 = date,",
						"          Prop_1 = description,",
						"          Prop_2 = original_description,",
						"          Prop_3 = amount,",
						"          Prop_4 = transaction_type,",
						"          Prop_5 = category,",
						"          Prop_6 = account_name,",
						"          Prop_7 = labels,",
						"          Prop_8 = notes",
						"     )) ~> UpdateDeltaTransactions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_adls_axiomstandardatalake')]"
			]
		}
	]
}